<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin terminal</title>
        <meta login="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="themes/icon.css">
        <link rel="stylesheet" type="text/css" href="themes/smoothness/jquery-ui-1.10.4.custom.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script type="text/template" id="customer-form-template">
            <tr>
                <td colspan="2"><b><%= lblCustomerName %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td><input id="customerName" name="customerName" style="width:250px" class="easyui-combobox validable" type="text"
                           data-options="required:true,validType:'length[1,100]',hasDownArrow:false"/></td>
            </tr>
            <tr>
                <td colspan="2"><b><%= lblAddress %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td><input id="address" name="address" style="width:250px" class="easyui-combobox validable" type="text"
                           data-options="required:true,validType:'length[1,200]',hasDownArrow:false"/></td>
            </tr>
            <tr>
                <td colspan="2"><b><%= lblEmail %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td><input id="email" name="email" class="easyui-validatebox validable" type="email"
                           data-options="required:true,validType:'email'"/></td>
            </tr>
            <tr>
                <td colspan="2"><b><%= lblPhoneNumber %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td><input id="cellPhone" name="cellPhone" class="easyui-validatebox validable" type="text"
                           data-options="required:true,validType:'length[1,100]'"/></td>
            </tr>
        </script>
        <script type="text/template" id="ticket-form-template">
            <div id="ticket-form">
                <br/>
                <h2><%= lblTitle %></h2>
                <table border="0" cellpadding="2" cellspacing="2">
                    <tr>
                        <td colspan="2"><b><%= lblPestType %>:</b></td>
                    </tr>
                    <tr>
                        <td class="placeholder">&nbsp;</td>
                        <td>
                            <select id="pestType" name="pestType" style="width:250px" class="easyui-combobox validable"
                                    data-options="
                                        valueField: 'id',
                                        textField: 'text',
                                        required: true">
                                <!--<option value=" "><%= lblSelectPestType %></option>
                                <option value="I">Ants</option>
                                <option value="A">Bedbugs (Inspection only)</option>
                                <option value="R">Carpet beetle</option>
                                <option value="B">Cockroaches</option>
                                <option value="T">Earwigs</option>
                                <option value="C">Fleas</option>
                                <option value="P">Flies</option>
                                <option value="J">Hornets</option>
                                <option value="D">Mice</option>
                                <option value="S">Plaster beetle</option>
                                <option value="Z">Psoccids and other stored food pests</option>
                                <option value="E">Rats</option>
                                <option value="Q">Silverfish</option>
                                <option value="K">Wasps</option>
                                <option value="U">Woodlouse</option>-->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b><%= lblBriefDescription %>:</b></td>
                    </tr>
                    <tr>
                        <td class="placeholder">&nbsp;</td>
                        <td>
                            <textarea id="problemDescription" name="problemDescription" class="easyui-validatebox validable"
                                    data-options="required:true,validType:'length[1,2048]'" rows="5"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b><%= lblPreferredDay %>:</b></td>
                    </tr>
                    <tr>
                        <td class="placeholder">&nbsp;</td>
                        <td>
                            <input id="availabilityTime" style="width:250px" class="easyui-datebox validable" required="required">
                        </td>
                    </tr>

                </table>
                <div id="new-ticket-buttons">
                    <a href="#" class="button-ok easyui-linkbutton" icon="icon-ok"><%= lblSubmit %></a>
                    <a href="#" class="button-cancel easyui-linkbutton" icon="icon-cancel"><%= lblCancel %></a>
                </div>
            </div>
        </script>

        <script type="text/template" id="user-info-panel-template">
            <div class="user-info-panel">
                <p class="lbl-text"></p>
                <a class="user-login" href="#"></a>
                <a class="logout-button easyui-linkbutton" icon="icon-power" href="#"><%= lblExit %></a>
            </div>
        </script>

        <script type="text/template" id="login-form-template">
            <div class="login-form easyui-dialog" title="<%= lblTitle %>"
                    data-options="
                        iconCls: 'icon-login',
                        buttons: '#loginButtons',
                        modal: true,
                        collapsible: false,
                        minimizable: false,
                        maximizable: false,
                        resizable: false">
                <form>
                    <table border="0" cellspacing="2" cellpadding="2">
                        <tr>
                            <td><%= lblLogin %>:&nbsp;</td>
                            <td>
                                <input name="login" class="login easyui-validatebox" type="text"
                                       data-options="required:true,validType:'length[1,50]'"/>
                            </td>
                        </tr>
                        <tr>
                            <td><%= lblPassword %>:&nbsp;</td>
                            <td>
                                <input name="password" class="password easyui-validatebox"
                                       type="password" data-options="required:true,validType:'length[1,50]'"/>
                            </td>
                        </tr>
                    </table>
                    <div id="loginButtons">
                        <a href="#" class="button-ok easyui-linkbutton" icon="icon-ok"><%= lblOk %></a>
                        <a href="#" class="button-cancel easyui-linkbutton" icon="icon-cancel"><%= lblCancel %></a>
                    </div>
                </form>
            </div>
        </script>

        <!--<script type="text/javascript" src="underscore.js"></script>
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="jquery.easyui.min.js"></script>
        <script type="text/javascript" src="easyui-lang-ru.js"></script>
        <script type="text/javascript" src="backbone.js"></script>
        <script type="text/javascript" src="pse.terminal.requester.js"></script>
        <script type="text/javascript" src="pse.terminal.core.js"></script>-->

    </head>
    <body class="easyui-layout">
        <div data-options="region:'center'">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'center'">
                    <div class="easyui-tabs" id="tabs" data-options="fit:true">
                        <div title="Заявки" >
                            <div id="ticketsToolbar">
                                <a href="#" id="createRequest" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-call',plain:true">Добавить заявку</a>
                                <a href="#" id="editRequest" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-edit',plain:true">Редактировать заявку</a>
                                <a href="#" id="closeRequest" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-ok',plain:true">Закрыть заявку</a>
                                <a href="#" id="createReport" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-report',plain:true">Создать отчет</a>
                            </div>
                            <table id="ticketsView"></table>
                        </div>
                        <div title="Пользователи" class="easyui-layout">
                            <div id="usersToolbar">
                                <a href="#" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-edit',plain:true">Edit</a>
                                <a href="#" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-help',plain:true">Help</a>
                            </div>
                            <table id="usersView" data-options="fit:true"></table>
                        </div>
                    </div>
                </div>
                <div class="right-panel" data-options="region:'east',split:true">
                    <div class="easyui-layout" data-options="fit:true">
                        <div class="user-info-container"
                             data-options="
                                region: 'north',
                                title: 'Инфо',
                                collapsible: false,
                                iconCls: 'icon-user'
                             ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer ui-widget-header" data-options="region:'south'">
            &NonBreakingSpace;
        </div>
        <div class="windows">

        </div>
    <script data-main="pse.terminal" src="require.js"></script>
    </body>
</html>
