<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin terminal</title>
        <meta login="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="themes/icon.css">
        <link rel="stylesheet" type="text/css" href="themes/smoothness/jquery-ui-1.10.4.custom.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script type="text/template" id="close-ticket-template">
            <div class="close-ticket easyui-dialog" title="<%= lblCloseTicket %>" style="width:400px;height:200px;overflow: hidden"
                 data-options="iconCls:'icon-ok',resizable:false,modal:true" buttons="#dlg-buttons">
                 <b>Комментарий:</b>
                 <textarea class="comment" style="height: 100px;
   width: 98%;
   padding:1%;
   border:none;"></textarea>
                 <div id="dlg-buttons">
                    <table cellpadding="0" cellspacing="0" style="width:100%">
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td style="text-align:right">
                                <a href="#" class="close easyui-linkbutton" iconCls="icon-ok"><%= lblClose %></a>
                                <a href="#" class="cancel easyui-linkbutton" iconCls="icon-cancel" ><%= lblCancel %></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </script>
        <script type="text/template" id="tickets-status-template">
            <table border="0">
                <tr>
                    <td>&NonBreakingSpace;</td>
                    <td><b><%= lblTotal %>:</b></td>
                    <td><%= total %></td>
                </tr>
                <tr>
                    <td><div class='color-status open'></div></td>
                    <td><b><%= lblOpen %>:</b></td>
                    <td><%= OPEN %></td>
                </tr>
                <tr>
                    <td><div class='color-status assigned'></div></td>
                    <td><b><%= lblAssigned %>:</b></td>
                    <td><%= ASSIGNED %></td>
                </tr>
                <tr>
                    <td><div class='color-status in_progress'></div></td>
                    <td><b><%= lblInProgress %>:</b></td>
                    <td><%= IN_PROGRESS %></td>
                </tr>
                <tr>
                    <td><div class='color-status resolved'></div></td>
                    <td><b><%= lblResolved %>:</b></td>
                    <td><%= RESOLVED %></td>
                </tr>
                <tr>
                    <td><div class='color-status closed'></div></td>
                    <td><b><%= lblClosed %>:</b></td>
                    <td><%= CLOSED %></td>
                </tr>
                <tr>
                    <td><div class='color-status canceled'></div></td>
                    <td><b><%= lblCanceled %>:</b></td>
                    <td><%= CANCELED %></td>
                </tr>
            </table>
        </script>
        <script type="text/template" id="color-status-template">
            <div class='color-status <%= status %>'></div>
        </script>
        <script type="text/template" id="ticket-type-template">
            <b><%= pest %></b>
            <br>
            <pre><%= descr %></pre>
        </script>
        <script type="text/template" id="customer-form-template">
            <tr>
                <td colspan="2"><b><%= lblCustomerName %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td>
                    <!--<input name="customerName" style="width:250px" class="customerName easyui-combobox validable" type="text"
                           data-options="required:true,validType:'length[1,100]',hasDownArrow:false"/>-->
                    <input name="name" style="width:250px" class="name validable" type="text"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><b><%= lblAddress %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td>
                    <!--<input name="address" style="width:250px" class="address easyui-combobox validable" type="text"
                           data-options="required:true,validType:'length[1,200]',hasDownArrow:false"/>-->
                    <input name="address" style="width:250px" class="address validable" type="text" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><b><%= lblEmail %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td>
                    <!--<input name="email" class="email easyui-validatebox validable" type="email"
                           data-options="required:true,validType:'email'"/>-->
                    <input name="email" class="email validable" type="email" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><b><%= lblPhoneNumber %>:</b></td>
            </tr>
            <tr>
                <td class="placeholder">&nbsp;</td>
                <td>
                    <!--<input name="cellPhone" class="cellPhone easyui-validatebox validable" type="text"
                           data-options="required:true,validType:'length[1,100]'"/>-->
                    <input name="cellPhone" class="cellPhone validable" type="text" />
                </td>
            </tr>
        </script>
        <script type="text/template" id="edit-ticket-form-template">
            <div class="easyui-layout" data-options="fit:true">
                <div id="edit-ticket-form" data-options="region:'center'" style="padding:5px;">
                    <br/>
                    <h2><%= lblTitle %></h2>
                    <table border="0" cellpadding="2" cellspacing="2">
                        <tr>
                            <td colspan="2"><b><%= lblStatus %>:</b></td>
                        </tr>
                        <tr>
                            <td class="placeholder">&nbsp;</td>
                            <td>
                                <select name="status" style="width:250px" class="status validable"></select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b><%= lblPestType %>:</b></td>
                        </tr>
                        <tr>
                            <td class="placeholder">&nbsp;</td>
                            <td>
                                <select name="pestType" style="width:250px" class="pestType validable"></select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b><%= lblBriefDescription %>:</b></td>
                        </tr>
                        <tr>
                            <td class="placeholder">&nbsp;</td>
                            <td>
                                <textarea name="problemDescription" class="problemDescription validable" rows="5"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b><%= lblComment %>:</b></td>
                        </tr>
                        <tr>
                            <td class="placeholder">&nbsp;</td>
                            <td>
                                <textarea name="comment" class="comment validable" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                    <div id="edit-ticket-buttons">
                        <a href="#" class="button-ok easyui-linkbutton" icon="icon-ok"><%= lblSubmit %></a>
                        <a href="#" class="button-cancel easyui-linkbutton" icon="icon-cancel"><%= lblCancel %></a>
                    </div>
                </div>
                <div data-options="region:'east',title:'<%= lblHistory %>',split:true" style="width:500px;">
                    <table class="historyView"></table>
                </div>
            </div>
        </script>
        <script type="text/template" id="ticket-form-template">
            <div id="ticket-form">
                <br/>
                <h2><%= lblTitle %></h2>
                <table border="0" cellpadding="2" cellspacing="2">
                    <tr>
                        <td colspan="2"><b><%= lblPestType %>:</b></td>
                    </tr>
                    <tr>
                        <td class="placeholder">&nbsp;</td>
                        <td>
                            <!--<select name="pestType" style="width:250px" class="pestType easyui-combobox validable"
                                    data-options="
                                        valueField: 'id',
                                        textField: 'text',
                                        required: true">
                            </select>-->
                            <select name="pestType" style="width:250px" class="pestType validable"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b><%= lblBriefDescription %>:</b></td>
                    </tr>
                    <tr>
                        <td class="placeholder">&nbsp;</td>
                        <td>
                            <!--<textarea name="problemDescription" class="problemDescription easyui-validatebox validable"
                                    data-options="required:true,validType:'length[1,2048]'" rows="5"></textarea>-->
                            <textarea name="problemDescription" class="problemDescription validable" rows="5"></textarea>
                        </td>
                    </tr>
                </table>
                <div id="new-ticket-buttons">
                    <a href="#" class="button-ok easyui-linkbutton" icon="icon-ok"><%= lblSubmit %></a>
                    <a href="#" class="button-cancel easyui-linkbutton" icon="icon-cancel"><%= lblCancel %></a>
                </div>
            </div>
        </script>

        <script type="text/template" id="user-info-panel-template">
            <div class="user-info-panel">
                <p class="lbl-text"></p>
                <a class="user-login" href="#"></a>
                <a class="logout-button easyui-linkbutton" icon="icon-power" href="#"><%= lblExit %></a>
            </div>
        </script>

        <script type="text/template" id="login-form-template">
            <div class="login-form easyui-dialog" title="<%= lblTitle %>"
                    data-options="
                        iconCls: 'icon-login',
                        buttons: '#loginButtons',
                        modal: true,
                        collapsible: false,
                        minimizable: false,
                        maximizable: false,
                        resizable: false">
                <form>
                    <table border="0" cellspacing="2" cellpadding="2">
                        <tr>
                            <td><%= lblLogin %>:&nbsp;</td>
                            <td>
                                <input name="login" class="login easyui-validatebox" type="text"
                                       data-options="required:true,validType:'length[1,50]'"/>
                            </td>
                        </tr>
                        <tr>
                            <td><%= lblPassword %>:&nbsp;</td>
                            <td>
                                <input name="password" class="password easyui-validatebox"
                                       type="password" data-options="required:true,validType:'length[1,50]'"/>
                            </td>
                        </tr>
                    </table>
                    <div id="loginButtons">
                        <a href="#" class="button-ok easyui-linkbutton" icon="icon-ok"><%= lblOk %></a>
                        <a href="#" class="button-cancel easyui-linkbutton" icon="icon-cancel"><%= lblCancel %></a>
                    </div>
                </form>
            </div>
        </script>

        <!--<script type="text/javascript" src="underscore.js"></script>
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="jquery.easyui.min.js"></script>
        <script type="text/javascript" src="easyui-lang-ru.js"></script>
        <script type="text/javascript" src="backbone.js"></script>
        <script type="text/javascript" src="pse.terminal.requester.js"></script>
        <script type="text/javascript" src="pse.terminal.core.js"></script>-->

    </head>
    <body class="easyui-layout">
        <div data-options="region:'center'">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'center'">
                    <div class="easyui-tabs" id="tabs" data-options="fit:true">
                        <div title="Заявки" >
                            <div id="ticketsToolbar">
                                <a href="#" id="reloadData" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-reload',plain:true">Обновить</a>
                                <a href="#" id="createTicket" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-call',plain:true">Добавить заявку</a>
                                <a href="#" id="editTicket" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-edit',plain:true">Редактировать заявку</a>
                                <a href="#" id="closeTicket" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-ok',plain:true">Закрыть заявку</a>
                                <a href="#" id="createReport" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-report',plain:true">Создать отчет</a>
                            </div>
                            <table id="ticketsView"></table>
                        </div>
                        <div title="Пользователи" class="easyui-layout">
                            <div id="usersToolbar">
                                <a href="#" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-edit',plain:true">Edit</a>
                                <a href="#" class="easyui-linkbutton"
                                   data-options="iconCls:'icon-help',plain:true">Help</a>
                            </div>
                            <table id="usersView" data-options="fit:true"></table>
                        </div>
                    </div>
                </div>
                <div class="right-panel" data-options="region:'east',split:true">
                    <div class="easyui-layout" data-options="fit:true">

                        <div class="user-info-container"
                             data-options="
                                region: 'north',
                                title: 'Инфо',
                                collapsible: false,
                                iconCls: 'icon-user'
                             ">

                        </div>
                        <div class="tasks-info-container"
                             data-options="
                                region: 'center',
                                title: 'Заявки',
                                collapsible: false,
                                iconCls: 'icon-call'
                             " style="height:200px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer ui-widget-header" data-options="region:'south'">
            &NonBreakingSpace;
        </div>
        <div class="windows">

        </div>
    <script data-main="pse.terminal" src="require.js"></script>
    </body>
</html>
