.tasks-info-container table tr td {
    text-align: right;
}
#ticket-form table tr td .validable {
    width:250px;
}

#ticket-form table {
    margin-bottom: 20px;
}

#ticket-form {
    margin-left: 20px;
    margin-top: 20px;
}

#ticket-form table tr td.placeholder {
    width:50px;
}

#edit-ticket-form {
    margin-bottom: 20px;
}

#edit-ticket-form table tr td .validable {
    width:250px;
}

#edit-ticket-form {
    margin-left: 20px;
    margin-top: 20px;
}

#edit-ticket-form table tr td.placeholder {
    width:50px;
}

.header
{
    height:80px;
}
.logo
{
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 20px;
    float: left;
}
.logo-text
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 2em;
}
.footer
{
    height: 50px;
}
.right-panel
{
    width:200px;
}
.user-info-container
{
    height: 125px;
    padding: 5px;
}
.login-form
{
    width: 300px;
    height: 180px;
}
.login-form form
{
    padding: 10px 20px 10px 40px;
}
.color-status
{
    width: 10px;
    height: 10px;
    margin: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

/*['OPEN','ASSIGNED','IN_PROGRESS','RESOLVED','CLOSED','CANCELED']*/

.color-status.open
{
    background-color: greenyellow;
}
.color-status.assigned
{
    background-color: yellow;
}
.color-status.in_progress
{
    background-color: #ffab3f;
}
.color-status.resolved
{
    background-color: cornflowerblue;
}
.color-status.closed
{
    background-color: #aaaaaa;
}

.color-status.canceled
{
    background-color: #000000;
}

*{
    font-size:12px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
